.error{
    max-width:500px;
    width:100%;
    height:50px;
    display:inline-flex;
    flex-flow: row nowrap;
    justify-content:center;
    align-items:center;
    border-radius:5px;
    background:var(--danger);
    color:var(--whitedefault);
    font-weight:400;
    position:absolute;
    right:30px;
    margin-top:20px;
}