.wrappercard{
    display:flex;
    flex-flow: column nowrap;
}
.card{
    display:flex;
    flex-flow:column nowrap;
    height:100%;
    background: var(--whitecomponent);
    border-radius:6px;
    padding:16px;
    z-index:10;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.companycard{
    min-height:100px;
    height:auto;
    margin-top:1.6em;
    border-radius:5px;
    padding:4px;
  }
.companycard > p {
    font-size: 12px;
}
.rightdeletebutton{
    margin-left:auto;
}