/* The naming are not ok because I should not name the colors referencing to elements */
:root{
  --danger: #F44336;
  --primaryorange: #ff6e39;
  --hoverorange: #FF895F;
  --lightgray: rgb(236, 236, 236);
  --darkgray: rgb(110, 110, 110);
  --whitecard: rgb(255, 253, 253);
  --whitebackground: #F3F4F8;
}
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--whitebackground);
}
section{
  width:100%;
  padding:20px;
}
h1{
  text-align: center;
  font-size:2em;
  padding:20px 0px;
}
h5 {
  color:var(--darkgray);
}
button{
  display:inline-flex;
  flex-flow: row nowrap;
  justify-content: center;
  cursor:pointer;
  border-radius:6px;
  border:none;
  font-size:14px;
  @media screen and (max-width:600px){
    width:100% !important;
  }
}